<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChWfRtOqbp0U7Cr_DVFgOl1jFX0m_wPdk</string>
	<key>GCM_SENDER_ID</key>
	<string>326905524604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fai</string>
	<key>PROJECT_ID</key>
	<string>fai-falco</string>
	<key>STORAGE_BUCKET</key>
	<string>fai-falco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326905524604:ios:a231fc78eecb1b529934f9</string>
</dict>
</plist>